$set-clear-fix: fix content;

@mixin set-clear($value)
{
	@if not is-null(index($set-clear-fix, $value))
	{
		&:after { content: " "; clear: both; display: block; visiblity: hidden; }
	}
	@else
	{
	    clear: $value;
	}
}
