$default-font-size:         16px  !default;
$default-line-height:       1.618 !default;
$default-text-align:        left  !default;
$default-vertical-align:    top   !default;

$default-grid-gutter-width:         2.5%                            !default;
$default-grid-gutter-widths:        default                         !default;
$default-grid-gutter-height-ratio:  "0"                             !default;
$default-grid-gutter-height-ratios: default "1/1" "1/2" "1/3" "1/4" !default;

$default-limit-odd:  19 !default;
$default-limit-even: 20 !default;

$default-page-width: 840px !default;
