$font-family-garamond:        "Garamond", "Baskerville", "Baskerville Old Face", "Hoefler Text", "Times New Roman", "serif";
$font-family-lucida-bright:   "Lucida Bright", "Georgia", "serif";
$font-family-palatino:        "Palatino", "Palatino Linotype", "Palatino LT STD", "Book Antiqua", "Georgia", "serif";
$font-family-big-caslon:      "Big Caslon", "Book Antiqua", "Palatino Linotype", "Georgia", "serif";
$font-family-didot:           "Didot", "Didot LT STD", "Hoefler Text", "Garamond", "Times New Roman", "serif";
$font-family-baskerville:     "Baskerville", "Baskerville old face", "Hoefler Text", "Garamond", "Times New Roman", "serif";
$font-family-hoefler-text:    "Hoefler Text", "Baskerville old face", "Garamond", "Times New Roman", "serif";
$font-family-bodoni:          "Bodoni MT", "Didot", "Didot LT STD", "Hoefler Text", "Garamond", "Times New Roman", "serif";
$font-family-goudy-old-style: "Goudy Old Style", "Garamond", "Big Caslon", "Times New Roman", "serif";
$font-family-constantia:      "Constantia", "Palatino", "Palatino Linotype", "Palatino LT STD", "Georgia", "serif";
$font-family-cambria:         "Cambria", "Georgia", "serif";
$font-family-book-antiqua:    "Book Antiqua", "Palatino", "Palatino Linotype", "Palatino LT STD", "Georgia", "serif";

$font-family-optima:          "Optima", "Segoe", "Segoe UI", "Candara", "Calibri", "Arial", "sans-serif";
$font-family-futura:          "Futura", "Trebuchet MS", "Arial", "sans-serif";
$font-family-gill-sans:       "Gill Sans", "Gill Sans MT", "Calibri", "sans-serif";
$font-family-trebuchet:       "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Tahoma", "sans-serif";
$font-family-helvetica:       "Helvetica Neue", "Arial", "sans-serif";
$font-family-verdana:         "Verdana", "Geneva", "sans-serif";
$font-family-lucida:          "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Geneva", "Verdana", "sans-serif";
$font-family-geneva:          "Geneva", "Tahoma", "Verdana", "sans-serif";
$font-family-segoe:           "Segoe", "Segoe UI", "Helvetica Neue", "Arial", "sans-serif";
$font-family-candara:         "Candara", "Calibri", "Segoe", "Segoe UI", "Optima", "Arial", "sans-serif";
$font-family-calibri:         "Calibri", "Candara", "Segoe", "Segoe UI", "Optima", "Arial", "sans-serif";
$font-family-franklin-gothic: "Franklin Gothic Medium", "Arial", "sans-serif";
$font-family-tahoma:          "Tahoma", "Geneva", "Verdana", "sans-serif";

$font-family-proxima-nova:    "Proxima Nova" /* adobe */, "Montserrat" /* google */, "sans-serif";
$font-family-gill-sans:       "Gill Sans" /* adobe */, "Lato" /* google */, "sans-serif";

$font-family-headings:        $font-family-hoefler-text;
$font-family-body:            $font-family-optima;
$font-family-labels:          $font-family-optima;
$font-family-fine-print:      $font-family-optima;

$font-family-avenir:          "Avenir", "Nunito" /* google */;