@import "dashy/list";

$opposite-sides:
    (top bottom)
    (left right)
;

$opposite-corners:
    (top-left bottom-right)
    (top-right bottom-left)
;

$opposite-directions:
    (up down)
    (left right)
;

@function opposite-side($side)
{
    @return list-find-opposite($opposite-sides, $side);
}

@function opposite-corner($corner)
{
    @return list-find-opposite($opposite-corners, $corner);
}

@function opposite-direction($direction)
{
    @return list-find-opposite($opposite-directions, $direction);
}

@function opposite-direction-of-side($side)
{
    @return opposite-direction(direction-of-side($side));
}
