@mixin set-box-shadow($parameters)
{
    -webkit-box-shadow: $parameters;
       -moz-box-shadow: $parameters;
            box-shadow: $parameters;
}

@mixin set-border-radius($corners)
{
    -webkit-border-radius: $corners; 
       -moz-border-radius: $corners; 
            border-radius: $corners; 
}

@mixin set-box-sizing($prefix)
{
    -webkit-box-sizing: #{ $prefix }-box;
       -moz-box-sizing: #{ $prefix }-box;
            box-sizing: #{ $prefix }-box;
}

@mixin set-min-height($height:100%)
{
    min-height:$height; height:auto!important; height:$height;
}

@mixin set-max-width($width)
{
    max-width:$width;
}

@mixin set-display($value)
{
    display:$value; @if $value == inline-block { *display:inline; zoom:1; }
}

@mixin set-keyframes($name)
{
    @-webkit-keyframes #{ $name } { @content; }
       @-moz-keyframes #{ $name } { @content; }
         @-o-keyframes #{ $name } { @content; }
            @keyframes #{ $name } { @content; }
}

@mixin set-transition($arguments...)
{
    @if 1 == length($arguments)
    {
        -webkit-transition: $arguments;
           -moz-transition: $arguments;
             -o-transition: $arguments;
                transition: $arguments;
    }
}

@mixin animation($arguments...)
{
    @if 1 == length($arguments)
    {
        -webkit-animation: $arguments;
           -moz-animation: $arguments;
             -o-animation: $arguments;
                animation: $arguments;
    }
}

@mixin set-border-radius($arguments...)
{
    -webkit-border-radius: $arguments;
       -moz-border-radius: $arguments;
            border-radius: $arguments;
}

@mixin set-inner-box-shadow($arguments)
{
    -webkit-box-shadow: inset $arguments;
       -moz-box-shadow: inset $arguments;
            box-shadow: inset $arguments;
}
