@import "dashy/list";

$sides-horizontal: left right;

$sides-vertical: top bottom;

$sides: join($sides-horizontal, $sides-vertical);

$sides-directions:
  (top    up)
  (bottom down)
  (left   left)
  (right  right);

@function side-in-direction($direction)
{
  @return list-reverse-lookup($side-directions, $direction);
}

@function side-in-opposite-direction($direction)
{
  @return side-in-direction(opposite-direction($direction));
}
